version: "3.9"

services:
  db:
    image: postgres:15
    container_name: amrutam_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: amrutamdb
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
  api:
    build: .
    container_name: amrutam_api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
    volumes:
      - .:/app
      - /app/node_modules
      - .env:/app/.env


volumes:
  pg_data:
